@media only screen and (max-width: 480px){
    body{
        width: 95%;
    }
    .back-to-quiz{
        width: 40vw;
    }
    .quiz-header{
        font-size: calc((100vw - 45rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }
    .card-content{
        flex-direction: column;
    }
    .card-content-column{
        margin-left: 0;
    }
    .question-illustration {
        display: none;
    }
    .rating{
        width: 90vw;
    }
    .rating-list{
        width: 70vw;
    }
    .column{
        width: 10vw;
    }
    .answer-number{
        width: 10vw;
    }
    .rating-content-column{
        width: 10vw;
    }
    .right-rating-border{
        width: 4vw;
        height: 4vw;
    }
    .member-rating{
        width: 3vw;
    }

    .answers-count{
        font-size: calc((100vw - 20rem)/(80 - 30) * (1.5 - 1) + 1rem);;
    }
    .timer{
        font-size: calc((100vw - 20rem)/(80 - 30) * (1.5 - 1) + 1rem);;
    }
    .frame{
        font-size: calc((100vw - 20rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }
    .question{
        font-size: calc((100vw - 25rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }
    .answers-list{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .answer{
        font-size: calc((100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);;
    }
    .skip-question{
        font-size: calc((100vw - 45rem)/(80 - 30) * (1.5 - 1) + 1rem);
    }
}
